<div class="mainlogo flexcontainer__dualcontainer">
    {{{mainLogo}}}
</div>
<div class="login flexcontainer__dualcontainer">
    <h2 class="login__description">Chat that feels warm and comfy</h2>

    <div class="login__circle">
        <svg class="login__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.8 195.6">
            <use xlink:href="#logo-svg"/>
        </svg>
        <form class="login__form">
            <h2 class="login__formname">Log In to Vacate</h2>
            {{#each inputsList}}
                {{{this}}}
            {{/each}}
            {{{buttonLogin}}}
            {{{buttonRegister}}}
        </form>
    </div>
</div>