.auth__field
    margin-top: 31px
    width: 100%

.auth__input
    border: none
    border-bottom: 2px solid $color_light
    background: none
    font-family: 'Inter', sans
    font-style: normal
    font-weight: 500
    font-size: 13px
    color: $color_dark
    width: 100%
    transition: .2s

.auth__input:active,
.auth__input:focus,
.auth__input:hover
    border-bottom-color: rgba($color_light, 0.3)