<div class="temp__links__container">
    <a onclick="return false;" href="#" class="temp__links__a">Login</a>
    <a onclick="return false;" href="#" class="temp__links__a">Registration</a>
    <a onclick="return false;" href="#" class="temp__links__a">Chats</a>
    <a onclick="return false;" href="#" class="temp__links__a">Options</a>
    <a onclick="return false;" href="#" class="temp__links__a">404</a>
    <a onclick="return false;" href="#" class="temp__links__a">500</a>
</div>