<html>
    <head>
        <link rel="stylesheet" href="../../styles.sass" />
    </head>
    <body>
        <main>
            {{> error error_number="505" error_desc="Working on it"}}
        </main>
        <script src="./505.js" type="module"></script>
    </body>
</html> 