
.registration__form
    position: absolute
    display: flex
    flex-direction: column
    align-items: center
    top: 7%
    width: 24vw
    height: 86%
    background: $color_normal
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14)
    border-radius: 50px

.registration__formname
    font-family: 'Inter', sans
    font-style: normal
    font-weight: 500
    font-size: 20px
    text-align: center
    color: $color_dark
    margin-top: 52px

.registration__field
    margin-top: 40px
    width: 280px

.registration__input
    border: none
    border-bottom: 2px solid $color_light
    background: none
    font-family: 'Inter', sans
    font-style: normal
    font-weight: 500
    font-size: 13px
    color: $color_dark
    width: 100%

.registration__input:active,
.registration__input:focus,
.registration__input:hover
    border-bottom-color: rgba($color_light, 0.3)

.registration__submit
    margin-top: 67px
.registration__signin
    margin-top: 21px
    background: rgba(0,0,0,0)
    font-size: 11px
    width: 100px
    height: 11px

