<html>
    <head>
        <link rel="stylesheet" href="../../styles.sass" />
    </head>
    <body style="overflow: hidden">
        <main class="flexcontainer">

            <div class="mainlogo flexcontainer__dualcontainer">
                {{>mainlogo }}
            </div>

            <div class="registration flexcontainer__dualcontainer">
                <form class="registration__form">
                    <h2 class="registration__formname">Create a profile</h2>
                    <div class="registration__field">
                        <input name="email" type="text" class="registration__input" placeholder="Email">
                    </div>
                    <div class="registration__field">
                        <input name="login" type="text" class="registration__input" placeholder="Login">
                    </div>
                    <div class="registration__field">
                        <input name="first_name" type="text" class="registration__input" placeholder="First name">
                    </div>
                    <div class="registration__field">
                        <input name="second_name" type="text" class="registration__input" placeholder="Last name">
                    </div>
                    <div class="registration__field">
                        <input name="phone" type="text" class="registration__input" placeholder="Phone">
                    </div>
                    <div class="registration__field">
                        <input name="password" type="password" class="registration__input" placeholder="Password">
                    </div>
                    <div class="registration__field">
                        <input name="password" type="password" class="registration__input" placeholder="Password (again)">
                    </div>
                    {{>button label="Create account" added_class="registration__submit animate-click"}}
                    {{>button label="Sign In" added_class="registration__signin animate-click" shape_dir="none"}}
                </form>
            </div>

        </main>
        <script src="./registration.js" type="module"></script>
    </body>
</html> 