<div class="error__container">
    <h1 class="error__h1">{{ error_number }}</h1>
    <h2 class="error__h2">{{ error_desc }}</h2>
    {{>button label="Back to chats" added_class="error__button animate-click"}}
</div>