<html>
    <head>
        <link rel="stylesheet" href="../../styles.sass" />
    </head>
    <body>
        <main>
            {{> error error_number="404" error_desc="Wrong page"}}
        </main>
        <script src="./404.js" type="module"></script>
    </body>
</html> 