<html>
    <head>
        <link rel="stylesheet" href="styles.sass" />
    </head>
    <body>
        <div class="temp__links__container">
            <a href="./pages/login/login.hbs" class="temp__links__a">Login</a>
            <a href="./pages/registration/registration.hbs" class="temp__links__a">Registration</a>
            <a href="#" class="temp__links__a" style="color: gray">Chats</a>
            <a href="./pages/options/options.hbs" class="temp__links__a">Options</a>
            <a href="./pages/404/404.hbs" class="temp__links__a">404</a>
            <a href="./pages/500/500.hbs" class="temp__links__a">500</a>
        </div>
    </body>
    <script src="./index.js" type="module"></script>
</html> 