.message
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 15px
    padding: 11px
    padding-right: 35px
    background: $color_light
    margin-bottom: 10px
    border-radius: 12px
    position: relative

.message__left
    border-top-left-radius: 0px
    float: left
    align-self: start

.message__right
    border-top-right-radius: 0px
    background: $color_normal
    float: right
    align-self: end

.message__time
    position: absolute
    //margin: 11px
    color: #999999
    font-family: 'Inter'
    font-style: normal
    font-weight: 500
    font-size: 9px
    bottom: 1px
    right: 5px
    //text-align: right
