<span class="message__title">{{title}}</span>
{{#if avatar }}<div class="message__avatar"><img src="{{avatarsrc}}" alt="" class="message__avatarimage"></div>{{/if}}
<div class="message__wrapper"> {{ content }} <span class="message__time">{{ time }}</span></div>